@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	
}

body{
	background: #55ffe5;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	background: url("contact.jpg")no-repeat;
	background-position: center;
	background-size: cover;
}

.container{
	width:90%;
	margin: 40px auto;
}
.contactbox{
	background: #fff;
	display: flex;
}
.contact-left{
	flex-basis: 60%;
	padding: 40px 60px;
}
.contact-rigth{
	flex-basis: 60%;
	padding: 40px 60px;
	background: #DBD7FF;
}

h1{
	margin-bottom: 10px;
}
.container p{
	margin-bottom: 40px;
}
.input-row{
	display: ;
	justify-content: space-between;
	margin-bottom: 20px;
}

.input-row.input-group{
	flex-basis: 45%;
}

input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	
	
}

textarea{
	width: 100%;
	border: 1px solid  #ccc;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
}
button{
	background: #1c00b5;
	width: 100px;
	border: none;
	outline: none;
	color: #fff;
	height: 30px;
	margin-top: 20px;
	border-radius: 30px;
	box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
	transition: background 0.5s;
	
	
	
}
button:hover{
	background:#110E0E;
}
.contact-left h3{
	color: #1c00b5;
	font-weight: 600px;
	margin-bottom: 30px;
	
}
.contact-rigth h3{
	font-weight: 600;
	margin-bottom: 30px;
}

tr td:first-child{
	padding-right:20px;
}
tr td{
	padding-top: 20px;
}
